<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My_Notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94ED4C561FA92296002B59EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ED4C6C1FA92297002B59EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ED4C771FA92297002B59EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
